html{
    background-color:black;
}
#mainpic{
    margin:0;
    opacity: 30%;
    position:absolute;
    width:99%;
    height:auto;
}

#experience{
    margin:0;
    opacity: 30%;
    position:absolute;
    width:99%;
    height:auto;
    margin-top:120%;
}

#skills{
    margin:0;
    opacity: 30%;
    position:absolute;
    width:99%;
    height:auto;
    margin-top: 70%;
}

#journey{
    margin:0;
    opacity: 30%;
    position:absolute;
    width:99%;
    height:auto;
    margin-top: 220%;
}

h1{
    margin:0;   
    width:60%;
    position: absolute;
    display: block;
    color: white;
    margin-left:10%;
    margin-top:10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:400%;
}




#skillstitle{
    margin:0;   
    width:60%;
    position: absolute;
    display: block;
    color: white;
    margin-left:10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:450%;
    margin-top:80%;
}

#exptitle{
    margin:0;   
    width:60%;
    position: absolute;
    display: block;
    color: white;
    margin-left:10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:450%;
    margin-top:125%;
}

#journeytitle{
    margin:0;   
    width:60%;
    position: absolute;
    display: block;
    color: white;
    margin-left:10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:450%;
    margin-top:225%;
}



#TOTT{
    margin:0;
    margin-left:10%;
    margin-top:230%;
    width:60%;
    position: absolute;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:200%;
}

#TOTI{
    margin:0;
    margin-left:10%;
    margin-top:260%;
    width:60%;
    position: absolute;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:200%;
}

#TOTO{
    margin:0;
    margin-left:10%;
    margin-top:287%;
    width:60%;
    position: absolute;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:200%;
}

#TOIN{
    margin:0;
    margin-left:10%;
    margin-top:310%;
    width:60%;
    position: absolute;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:200%;
}

#TOIE{
    margin:0;
    margin-left:10%;
    margin-top:340%;
    width:60%;
    position: absolute;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:200%;
}

#TOIS{
    margin:0;
    margin-left:10%;
    margin-top:368%;
    width:60%;
    position: absolute;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:200%;
}

#VSIFC{
    margin:0;
    margin-left:10%;
    margin-top:130%;
    width:70%;
    position: absolute;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:200%;
}

#TDP{
    margin:0;
    margin-left:10%;
    margin-top:150%;
    width:70%;
    position: absolute;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:200%;
}

#SIP{
    margin:0;
    margin-left:10%;
    margin-top:170%;
    width:70%;
    position: absolute;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:200%;
}

#INNO{
    margin:0;
    margin-left:10%;
    margin-top:190%;
    width:70%;
    position: absolute;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:200%;
}

b{
    font-size:225%;
}

i{
    font-size:140%;
}

p{
    margin:0;   
    width:60%;
    position: absolute;
    color: white;
    margin-left:10%;
    margin-top:25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:180%;
}

h3{
    margin:0;   
    width:30%;
    position: absolute;
    color: white;
    margin-left:45%;
    margin-top:60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:100%;
}
#skills1{
    margin:0;   
    width:60%;
    position: absolute;
    display: block;
    color: white;
    margin-left:-12%;
    margin-top:87%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:140%;
    text-align: right;
}
#skills2{
    margin:0;   
    width:40%;
    position: absolute;
    display: block;
    color: white;
    margin-left:52%;
    margin-top:87%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:140%;
}
