body{
  background-color: lightgray;
  margin:0;
}
  

h2{
  margin : 0;
  margin-left: 65px;
  font-family :monospace;
  color: orangered;
  text-decoration: none;
  font-size: 100px;
}

h4{
  margin : 0;
  font-family :monospace;
  color: orangered;
  text-decoration: none;
  font-size: 75px;
}

h3{
  margin : 0;
  margin-left: 65px;
  font-family :monospace;
  color: orangered;
  text-decoration: none;
  font-size: 25px;
}

h1{
  margin : 0;
  border : 0;
  font-family :monospace;
  color: black;
  text-decoration: none;
  font-size: 25px;
}

#achli{
  margin : 0;
  margin-left: 65px;
  margin-bottom : 20px;
  font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-decoration: none;
  font-size: 15px;
}

#yr{
  margin : 0;
  margin-left: 65px;
  font-family :monospace;
  color: black;
  text-decoration: none;
  font-size: 35px;
}

#special{
  margin : 0;
  border : 0;
  font-family :monospace;
  color: black;
  text-decoration: none;
  font-size: 35px;
}

#aboutpage{
  margin-top : 100px;
}

#skillspage{
  right : 10%;
  margin:0;
  width: 475px;
  margin-top : 165px;
  margin-left : 50px;
  position : absolute;
}

#achpage{
  margin-top : 165px;
  margin-left : 10%;
  position : absolute;
}

#edpage{
  right : 10%;
  margin:0;
  width: 475px;
  margin-top : 1300px;
  margin-left : 50px;
  position : absolute;
}

#projpage{
  right : 10%;
  margin:0;
  margin-left : 10%;
  margin-top : 2400px;
  position : absolute;
}

#expage{
  right : 10%;
  margin:0;
  margin-left : 10%;
  margin-top : 3700px;
  position : absolute;
}

#servepage{
  right : 10%;
  margin:0;
  margin-left : 10%;
  margin-top : 4500px;
  position : absolute;
}


#interestspage{
  right : 10%;
  margin:0;
  margin-left : 10%;
  margin-top : 5650px;
  position : absolute;
}

h5{
  margin : 30px;
  margin-left: 65px;
  font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

p{
  margin : 30px;
  font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

#proli{
  margin :0;
  margin-bottom : 30px;
  font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.navbar {
  width: 100%;
  background-color: gray;
  overflow: auto;
}


.navbar a {
  float: left;
  font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: tomato;
  color : white;  
}

.active {
  background-color: dimgray;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
